@font-face {
  font-family: 'devicon';
  font-display: auto;
  src: url('../fonts/devicon.eot?15lpf2');
  src: url('../fonts/devicon.eot?15lpf2#iefix') format('embedded-opentype'),
    url('../fonts/devicon.ttf?15lpf2') format('truetype'),
    url('../fonts/devicon.woff?15lpf2') format('woff'),
    url('../fonts/devicon.svg?15lpf2#devicon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="devicon-"], [class*=" devicon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'devicon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.devicon-express-original:before {
  content: "\e93d";
}
.devicon-intellij-plain:before {
  content: "\e933";
}
.devicon-vuejs-plain:before {
  content: "\e931";
}
.devicon-webpack-plain:before {
  content: "\e929";
}
.devicon-sequelize-plain:before {
  content: "\e923";
}
.devicon-typescript-plain:before {
  content: "\e920";
}
.devicon-meteor-plain:before {
  content: "\e609";
}
.devicon-docker-plain:before {
  content: "\e61f";
}
.devicon-react-original:before {
  content: "\e601";
}
.devicon-git-plain:before {
  content: "\e7a8";
}
.devicon-gulp-plain:before {
  content: "\e7ec";
}
.devicon-jquery-plain:before {
  content: "\e84a";
}
.devicon-mongodb-plain:before {
  content: "\eb44";
}
.devicon-nodejs-plain:before {
  content: "\eb6a";
}
.devicon-photoshop-plain:before {
  content: "\eb6d";
}
.devicon-postgresql-plain:before {
  content: "\eb7d";
}
.devicon-sass-original:before {
  content: "\ebcb";
}
.devicon-mail:before {
  content: "\ea83";
}
.devicon-github:before {
  content: "\eab0";
}
.devicon-linkedin2:before {
  content: "\eaca";
}
